In [1]:
import pandas

dataframe_temperature = pandas.read_csv('..\\Data\\Processed Data\\Temperature.csv')

print(dataframe_temperature.shape)
print(dataframe_temperature)

(95694, 6)
                      date  temperature_one  temperature_two  \
0      1756-01-01 00:00:00             -8.0             -9.0
1      1756-01-02 00:00:00             -9.0             -9.0
2      1756-01-03 00:00:00            -10.0             -7.0
3      1756-01-04 00:00:00             -7.0             -8.0
4      1756-01-05 00:00:00             -9.0             -5.0
...                    ...              ...              ...
95689  2017-12-27 00:00:00              2.9              3.5
95690  2017-12-28 00:00:00              4.3              4.9
95691  2017-12-29 00:00:00              2.9              2.7
95692  2017-12-30 00:00:00              1.4              1.4
95693  2017-12-31 00:00:00              2.5              3.2

       temperature_three  temperature_four  temperature_five
0                    NaN               NaN               NaN
1                    NaN               NaN               NaN
2                    NaN               NaN               NaN
3                    NaN               NaN               NaN
4                    NaN               NaN               NaN
...                  ...               ...               ...
95689                3.1               4.4               2.6
95690                4.8               5.5               3.1
95691                3.1               4.8               2.6
95692                2.7               3.1               1.0
95693                3.1               3.4               2.3

[95694 rows x 6 columns]

In [9]:
import math
import datetime

dataframe_result = pandas.DataFrame(columns=['Date', 'Temperature', 'Mean'])
result = []

for index, row in dataframe_temperature.iterrows():
    time = datetime.datetime.strptime(row['date'], '%Y-%m-%d %H:%M:%S')
    data = []
    length = 0
    mean = 0
    for value in row:
        if type(value) == float and not math.isnan(value):
            length += 1
            mean += value

    if length == 0:
        continue
    
    mean = mean / length
    time_difference = 24 / length

    for value in row:
        if type(value) == float and not math.isnan(value):
            data.append(
                [time, value, mean]
            )
            time += datetime.timedelta(hours=time_difference)

    result.append(
        pandas.DataFrame(data, columns=['Date', 'Temperature', 'Mean'])
    )

dataframe_result = pandas.concat(result)

In [11]:
print(dataframe_result)
dataframe_result.to_csv('..\\Data\\Processed Data\\Temperature_cleaned.csv', index=False)

                  Date  Temperature  Mean
0  1756-01-01 00:00:00         -8.0  -8.5
1  1756-01-01 12:00:00         -9.0  -8.5
0  1756-01-02 00:00:00         -9.0  -9.0
1  1756-01-02 12:00:00         -9.0  -9.0
0  1756-01-03 00:00:00        -10.0  -8.5
..                 ...          ...   ...
0  2017-12-31 00:00:00          2.5   2.9
1  2017-12-31 04:48:00          3.2   2.9
2  2017-12-31 09:36:00          3.1   2.9
3  2017-12-31 14:24:00          3.4   2.9
4  2017-12-31 19:12:00          2.3   2.9

[401113 rows x 3 columns]